---
import '../styles/global.scss';
import { SiteTitle } from '../consts';

const year = new Date().getFullYear();
---

<footer>
	<p>© {year} {SiteTitle}</p>
	<div class="footer_links">
		<a href="/">文章</a>
		<a href="/projects">项目</a>
		<a href="/releases">Release</a>
		<a href="/tags">标签</a>
		<a href="/about">关于</a>
		<a href="/rss.xml">RSS</a>
	</div>
</footer>
